
body {
    background: url('../images/jugg.jpg');
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    padding: 10% 0;
}

}
.jumbotron{
    background-color: rgba(255, 255, 255, 0.8);
    vertical-align: middle;
    text-align: center;
}
